.page-navigation {display: none;}

#logo {display: inline-block;}

#w592e4a3a-ce01-4e24-ae40-6db5fabc0285 {padding: 120px 0;
            background-image: url('https://cs.cdn-upm.com/themes/98dfb947-4a04-11ed-8bca-525400080621/assets-6/wave2.png?v=0');
     }

.section-overlay.color-2 {opacity: 0%;}

span {color: rgb(97, 222, 85);}

#w685890fd-30fa-4067-a462-67ba181411f6 {}

.page-widget-image.image-size-auto {border-radius:
            80px 0px 80px 0px;
        ;
        width: 500px;
}

#w65613be3-922a-4555-afb3-dbc05494c656 {padding: 120px 0;
            background-image: url('https://cs.cdn-upm.com/themes/98dfb947-4a04-11ed-8bca-525400080621/assets-6/bg2.jpg?v=0');
     }

.section-overlay.color-0 {opacity: 0%;}

#w11a7750a-e862-4076-af52-b4ef54b01b43 {}

.page-widget-image {border-radius:
            200px 200px 90px 90px;
        ;
        width: 80%;
}

span {color: rgb(255, 255, 255);}

span {color: rgb(255, 255, 255);}

span {color: rgb(255, 255, 255);}

#w0131aa62-1601-4f88-ae66-f89a905060ca {height: 50px}

#w1c75aa64-f60b-4e24-a7e1-2120965b8989 {padding: 100px 0;
     }

.section-overlay.color-custom {background-color: rgba(254,248,236,1);}

.fa.fa-coffee {font-size: 72px}

.fa.fa-bed {font-size: 72px}

.fa.fa-cutlery {font-size: 72px}

#w41cf9306-8182-490f-8e88-bf7851222cfe {
     }

.section-overlay.color-2 {opacity: 0%;}

span {color: rgb(97, 222, 85);}

#w2e535143-cb9b-4340-81ea-7c7e4ca2ab76 {height: 90px}

span {color: rgb(97, 222, 85);}

#we541793f-2d61-416e-bd26-ecda9187233d {}

.page-widget-image {border-radius:
            0px;
        ;
        width: ;
}

span {color: rgb(97, 222, 85);}

#we92b3805-9d7d-41e9-9fb7-327e00dacab0 {height: 90px}

span {color: rgb(97, 222, 85);}

#wb558928a-80de-4def-a26e-c1ad8d3b1455 {padding: 120px 0;
     }

.section-overlay.color-1 {opacity: 120%;}

span {color: rgb(97, 222, 85);}

span {color: rgb(255, 255, 255);}

span {color: rgb(255, 255, 255);}

#wa8b75aab-cde8-4374-8a54-b9016c76a457 {height: 15px}

#w015001d6-3f1b-4f0b-a58d-d78dc59f80c8 {}

.page-widget-image {border-radius:
            200px 200px 0px 0px;
        ;
        width: 80%;
}

#wf3004da6-2db2-47dc-b52b-867e00256ad1 {
     }

.section-overlay.color-custom {background-color: rgba(254,248,236,1);}

#w355e1c64-ec30-42cb-8b8c-96444ba9b23c {}

.page-widget-image.image-size-auto {border-radius:
            150px;
        ;
        width: 400px;
}

#w869064ed-91e3-4b50-9987-31f3e704374c {height: 24px}

#w8a528f68-ec48-4617-b03f-d2b654b25c87 {}

.page-widget-image.image-size-auto {border-radius:
            150px;
        ;
        width: 400px;
}

.page-footer {display: none;}

._powered-by-logo {enable-background:new 0 0 240.2 54.5;}

#getMyLocation {height: 450px}